PORT=8787
PHOTON_URL=https://photon.komoot.io
NOMINATIM_URL=https://nominatim.openstreetmap.org
OSRM_URL=https://router.project-osrm.org
MAP_USER_AGENT=Hexwebmap/1.0 (https://github.com/Andyccr/Hexwebmap)
